<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhan.dao.DigitalMallAttributeValueMapper" >
  <resultMap id="BaseResultMap" type="com.zhan.model.DigitalMallAttributeValue" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="attr_value" property="attrValue" jdbcType="VARCHAR" />
    <result column="attr_id" property="attrId" jdbcType="INTEGER" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, attr_value, attr_id, goods_id, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from digital_mall_attribute_value
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByAttributeId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from digital_mall_attribute_value
    where attr_id = #{attrId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from digital_mall_attribute_value
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhan.model.DigitalMallAttributeValue" >
    insert into digital_mall_attribute_value (id, attr_value, attr_id, 
      goods_id, update_time)
    values (#{id,jdbcType=INTEGER}, #{attrValue,jdbcType=VARCHAR}, #{attrId,jdbcType=INTEGER}, 
      #{goodsId,jdbcType=INTEGER}, #{updateTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhan.model.DigitalMallAttributeValue" >
    insert into digital_mall_attribute_value
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="attrValue != null" >
        attr_value,
      </if>
      <if test="attrId != null" >
        attr_id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="attrValue != null" >
        #{attrValue,jdbcType=VARCHAR},
      </if>
      <if test="attrId != null" >
        #{attrId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhan.model.DigitalMallAttributeValue" >
    update digital_mall_attribute_value
    <set >
      <if test="attrValue != null" >
        attr_value = #{attrValue,jdbcType=VARCHAR},
      </if>
      <if test="attrId != null" >
        attr_id = #{attrId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhan.model.DigitalMallAttributeValue" >
    update digital_mall_attribute_value
    set attr_value = #{attrValue,jdbcType=VARCHAR},
      attr_id = #{attrId,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>