<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhan.dao.DigitalMallGoodsMapper">
  <resultMap id="BaseResultMap" type="com.zhan.model.DigitalMallGoods">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="brand_id" jdbcType="INTEGER" property="brandId" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
    <result column="introduce" jdbcType="VARCHAR" property="introduce" />
    <result column="des_url" jdbcType="VARCHAR" property="desUrl" />
    <result column="sale_num" jdbcType="INTEGER" property="saleNum" />
    <result column="is_show" jdbcType="INTEGER" property="isShow" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, category_id, brand_id, image_url, introduce, des_url, sale_num, is_show, 
    is_delete, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from digital_mall_goods
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from digital_mall_goods
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from digital_mall_goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhan.model.DigitalMallGoods">
    insert into digital_mall_goods (id, name, category_id, 
      brand_id, image_url, introduce, 
      des_url, sale_num, is_show, 
      is_delete, update_time)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{categoryId,jdbcType=INTEGER}, 
      #{brandId,jdbcType=INTEGER}, #{imageUrl,jdbcType=VARCHAR}, #{introduce,jdbcType=VARCHAR}, 
      #{desUrl,jdbcType=VARCHAR}, #{saleNum,jdbcType=INTEGER}, #{isShow,jdbcType=INTEGER}, 
      #{isDelete,jdbcType=INTEGER}, #{updateTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhan.model.DigitalMallGoods">
    insert into digital_mall_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="brandId != null">
        brand_id,
      </if>
      <if test="imageUrl != null">
        image_url,
      </if>
      <if test="introduce != null">
        introduce,
      </if>
      <if test="desUrl != null">
        des_url,
      </if>
      <if test="saleNum != null">
        sale_num,
      </if>
      <if test="isShow != null">
        is_show,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="brandId != null">
        #{brandId,jdbcType=INTEGER},
      </if>
      <if test="imageUrl != null">
        #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null">
        #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="desUrl != null">
        #{desUrl,jdbcType=VARCHAR},
      </if>
      <if test="saleNum != null">
        #{saleNum,jdbcType=INTEGER},
      </if>
      <if test="isShow != null">
        #{isShow,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhan.model.DigitalMallGoods">
    update digital_mall_goods
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="brandId != null">
        brand_id = #{brandId,jdbcType=INTEGER},
      </if>
      <if test="imageUrl != null">
        image_url = #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null">
        introduce = #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="desUrl != null">
        des_url = #{desUrl,jdbcType=VARCHAR},
      </if>
      <if test="saleNum != null">
        sale_num = #{saleNum,jdbcType=INTEGER},
      </if>
      <if test="isShow != null">
        is_show = #{isShow,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhan.model.DigitalMallGoods">
    update digital_mall_goods
    set name = #{name,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=INTEGER},
      brand_id = #{brandId,jdbcType=INTEGER},
      image_url = #{imageUrl,jdbcType=VARCHAR},
      introduce = #{introduce,jdbcType=VARCHAR},
      des_url = #{desUrl,jdbcType=VARCHAR},
      sale_num = #{saleNum,jdbcType=INTEGER},
      is_show = #{isShow,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>