<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="./css/font.css">
    <link rel="stylesheet" href="./css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="./lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
          <cite>导航元素</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so" action="/getSkuList" method="post">
          <div class="layui-input-inline">
            <select name="isDelete">
              <option value="">请选择库存状态</option>
              <option value="1" th:selected="${isDelete == 1}">已删除</option>
              <option value="0" th:selected="${isDelete == 0}">未删除</option>
            </select>
          </div>
          <input type="text" name="goodsName"  placeholder="请输入商品名称" autocomplete="off" class="layui-input" th:value="${goodsName}">
          <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
      </div>
      <xblock>
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
        <button class="layui-btn" onclick="x_admin_show('添加用户','./order-add.html')"><i class="layui-icon"></i>添加</button>
        <span class="x-right" style="line-height:40px">共有数据：88 条</span>
      </xblock>
      <table class="layui-table">
        <thead>
          <tr>
            <th>
              <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th>库存ID</th>
            <th>商品名称</th>
            <th>属性列表</th>
            <th>价格</th>
            <th>库存</th>
            <th>删除状态</th>
            <th >操作</th>
            </tr>
        </thead>
        <tbody th:each="sku:${pageInfo.list}">
          <tr>
            <td>
              <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='2'><i class="layui-icon">&#xe605;</i></div>
            </td>
            <td th:text="${sku.id}"></td>
            <td th:text="${sku.goodsName}"></td>
            <td th:text="${sku.attribute}"></td>
            <td th:text="${sku.price}"></td>
            <td th:text="${sku.stock}"></td>
            <td>
              <button th:if="${sku.isDelete == 0}" th:name="${sku.id}" class="layui-btn layui-btn-normal layui-btn-mini" onclick="deleteSku(this.name)">已启用</button>
              <button th:if="${sku.isDelete == 1}" class="layui-btn layui-btn-danger layui-btn-mini">已删除</button>
            </td>
            <td class="td-manage" th:if="${sku.isDelete == 0}">
              <a title="库存修改" th:name="${sku.id}" onclick="x_admin_show('库存修改','/toUpdateView?id=' + this.name)" href="javascript:;">
                <i class="layui-icon">&#xe642;</i>
              </a>
            </td>
            <td class="td-manage" th:if="${sku.isDelete == 1}"></td>
          </tr>
        </tbody>
      </table>
      <div class="page">
        <div th:if="${pageInfo.pages > 5}">
          <a th:if="${pageInfo.isHasPreviousPage() == true}" th:href="@{/getSkuList(pageNum = ${pageInfo.pageNum - 1}, isDelete = ${isDelete}, goodsName = ${goodsName})}">&lt;&lt;</a>
          <a th:if="${pageInfo.isHasPreviousPage() == false}" href="javascript:void(0);">&lt;&lt;</a>

          <a th:if="${pageInfo.pageNum != 1}" th:href="@{/getSkuList(pageNum = 1, isDelete = ${isDelete}, goodsName = ${goodsName})}">1</a>
          <span class="current" th:if="${pageInfo.pageNum == 1}" th:href="@{/getSkuList(pageNum = 1, isDelete = ${isDelete}, goodsName = ${goodsName})}">1</span>

          <a th:if="${pageInfo.pageNum != 2}" th:href="@{/getSkuList(pageNum = 2, isDelete = ${isDelete}, goodsName = ${goodsName})}">2</a>
          <span class="current" th:if="${pageInfo.pageNum == 2}" th:href="@{/getSkuList(pageNum = 2, isDelete = ${isDelete}, goodsName = ${goodsName})}">2</span>

          <a th:if="${pageInfo.pageNum > 3}">...</a>
          <span class="current" th:if="${pageInfo.pageNum > 2 && pageInfo.pageNum < (pageInfo.pages - 1)}" th:text="${pageInfo.pageNum}"></span>
          <a th:if="${pageInfo.pageNum < pageInfo.pages - 2}">...</a>

          <a th:if="${pageInfo.pageNum != (pageInfo.pages - 1)}" th:href="@{/getSkuList(pageNum = ${pageInfo.pages - 1}, isDelete = ${isDelete}, goodsName = ${goodsName})}" th:text="${pageInfo.pages - 1}"></a>
          <span class="current" th:if="${pageInfo.pageNum == (pageInfo.pages - 1)}" th:href="@{/getSkuList(pageNum = ${pageInfo.pages - 1}, isDelete = ${isDelete}, goodsName = ${goodsName})}" th:text="${pageInfo.pages - 1}"></span>

          <a th:if="${pageInfo.pageNum != pageInfo.pages}" th:href="@{/getSkuList(pageNum = ${pageInfo.pages}, isDelete = ${isDelete}, goodsName = ${goodsName})}" th:text="${pageInfo.pages}"></a>
          <span class="current" th:if="${pageInfo.pageNum == pageInfo.pages}" th:href="@{/getSkuList(pageNum = ${pageInfo.pages}, isDelete = ${isDelete}, goodsName = ${goodsName})}" th:text="${pageInfo.pages}"></span>

          <a th:if="${pageInfo.isHasNextPage() == true}" th:href="@{/getSkuList(pageNum = ${pageInfo.pageNum + 1}, isDelete = ${isDelete}, goodsName = ${goodsName})}">&gt;&gt;</a>
          <a th:if="${pageInfo.isHasNextPage() == false}" href="javascript:void(0);">&gt;&gt;</a>
        </div>

        <div th:if="${pageInfo.pages <= 5}">
          <a th:if="${pageInfo.isHasPreviousPage() == true}" th:href="@{/getGoodsList(pageNum = ${pageInfo.pageNum - 1}, name = ${name}, brandId = ${brandId}, categoryId = ${categoryId})}">&lt;&lt;</a>
          <a th:if="${pageInfo.isHasPreviousPage() == false}" href="javascript:void(0);">&lt;&lt;</a>

          <a th:if="${pageInfo.pageNum != 1}" th:href="@{/getGoodsList(pageNum = 1, name = ${name}, brandId = ${brandId}, categoryId = ${categoryId})}">1</a>
          <span class="current" th:if="${pageInfo.pageNum == 1}" th:href="@{/getGoodsList(pageNum = 1, name = ${name}, brandId = ${brandId}, categoryId = ${categoryId})}">1</span>

          <a th:if="${pageInfo.pageNum != 2 && pageInfo.pages >= 2}" th:href="@{/getGoodsList(pageNum = 2, name = ${name}, brandId = ${brandId}, categoryId = ${categoryId})}">2</a>
          <span class="current" th:if="${pageInfo.pageNum == 2 && pageInfo.pages >= 2}" th:href="@{/getGoodsList(pageNum = 2, name = ${name}, brandId = ${brandId}, categoryId = ${categoryId})}">2</span>

          <a th:if="${pageInfo.pageNum != 3 && pageInfo.pages >= 3}" th:href="@{/getGoodsList(pageNum = 3, name = ${name}, brandId = ${brandId}, categoryId = ${categoryId})}">3</a>
          <span class="current" th:if="${pageInfo.pageNum == 3 && pageInfo.pages >= 3}" th:href="@{/getGoodsList(pageNum = 3, name = ${name}, brandId = ${brandId}, categoryId = ${categoryId})}">3</span>

          <a th:if="${pageInfo.pageNum != 4 && pageInfo.pages >= 4}" th:href="@{/getGoodsList(pageNum = 4, name = ${name}, brandId = ${brandId}, categoryId = ${categoryId})}">4</a>
          <span class="current" th:if="${pageInfo.pageNum == 4 && pageInfo.pages >= 4}" th:href="@{/getGoodsList(pageNum = 4, name = ${name}, brandId = ${brandId}, categoryId = ${categoryId})}">4</span>

          <a th:if="${pageInfo.pageNum != 5 && pageInfo.pages >= 5}" th:href="@{/getGoodsList(pageNum = 5, name = ${name}, brandId = ${brandId}, categoryId = ${categoryId})}">5</a>
          <span class="current" th:if="${pageInfo.pageNum == 5 && pageInfo.pages >= 5}" th:href="@{/getGoodsList(pageNum = 5, name = ${name}, brandId = ${brandId}, categoryId = ${categoryId})}">5</span>

          <a th:if="${pageInfo.isHasNextPage() == true}" th:href="@{/getGoodsList(pageNum = ${pageInfo.pageNum + 1}, name = ${name}, brandId = ${brandId}, categoryId = ${categoryId})}">&gt;&gt;</a>
          <a th:if="${pageInfo.isHasNextPage() == false}" href="javascript:void(0);">&gt;&gt;</a>
        </div>
      </div>

    </div>
    <script>
      function deleteSku(id) {
        layer.alert('确定删除吗', {
          skin: 'layui-layer-molv' //样式类名  自定义样式
          ,closeBtn: 1    // 是否显示关闭按钮
          ,anim: 1 //动画类型
          ,btn: ['确定','取消'] //按钮
          ,icon: 6    // icon
          ,yes:function(){
            return $.ajax({
              url:'/deleteSku',
              type:'post',
              dataType:'json',
              data:{id:id},
              success:function(data){
                if(data === 1){
                  layer.alert('删除成功',function () {
                    window.location.reload();
                  });
                }
              }
            });
          }
          ,btn2:function(){
            layer.msg('取消删除');
          }
        });
      }
    </script>
  </body>
</html>